COMPANION_HOST=0.0.0.0
COMPANION_PORT=8770
COMPANION_USER_NAME=
COMPANION_LOCALE=pt-BR
COMPANION_ORB_TITLE=Companion Orb
COMPANION_ORB_WIDTH=240
COMPANION_ORB_HEIGHT=180
COMPANION_ORB_BALLOON_HEIGHT=120
COMPANION_ORB_X11=1
COMPANION_ORB_CLICK_THROUGH=1
COMPANION_SELF_PATH_MARK=032-companion

OPENAI_BASE_URL=http://127.0.0.1:1234/v1
OPENAI_API_KEY=
OPENAI_CHAT_MODEL=google/gemma-4-e2b
COMPANION_CHAT_TEMPERATURE=0.35
COMPANION_CHAT_MAX_TOKENS=4096
COMPANION_CHAT_TIMEOUT_MS=45000

COMPANION_SENSE_INTERVAL_MS=1500
COMPANION_THINK_MIN_MS=4000
COMPANION_PROACTIVE_MS=45000
COMPANION_PROACTIVE_TICK_MS=5000
COMPANION_SPEAK_MIN_MS=90000
COMPANION_SPEAK_ALLOW_QUESTIONS=0
COMPANION_BALLOON_MS=10000
COMPANION_EMOTION_HOLD_MS=18000
COMPANION_DRAIN_INTERVAL_MS=500
COMPANION_BOOT_DELAY_MS=2500
COMPANION_TYPE_IDLE_MS=2500
COMPANION_TYPE_MAX_CHARS=16000
COMPANION_PC_IDLE_MS=60000
COMPANION_EPISODE_CAP=400
COMPANION_RECENT_EPISODES=24
COMPANION_UI_POLL_MS=400
COMPANION_HOT_RELOAD_POLL_MS=800
COMPANION_KNOW_MIN_LEN=12
COMPANION_KNOW_TOKEN_MIN_LEN=4
COMPANION_KNOW_SIMILAR_UNION_MIN=3
COMPANION_KNOW_SIMILAR_OVERLAP_MIN=2
COMPANION_KNOW_SIMILAR_UNION_RATIO=0.45
COMPANION_KNOW_SIMILAR_OVERLAP_RATIO=0.7
COMPANION_INFRA_NOISE_MIN_LINES=3
COMPANION_INFRA_NOISE_RATIO=0.35
COMPANION_SH_TIMEOUT_MS=8000
COMPANION_SH_MAX_BUFFER=1048576
COMPANION_SH_QUICK_MS=1500
COMPANION_SH_MEDIUM_MS=3000
COMPANION_SH_FOCUS_MS=5000
COMPANION_SH_SLOW_MS=10000
COMPANION_KWIN_SETTLE_MS=120
COMPANION_WATCH_DIRS=

COMPANION_LIMIT_CLIPBOARD_RAW=16000
COMPANION_LIMIT_CLIPBOARD_STORED=8000
COMPANION_LIMIT_A11Y_VALUE=8000
COMPANION_LIMIT_A11Y_SELECTION=8000
COMPANION_LIMIT_A11Y_NAME=200
COMPANION_LIMIT_A11Y_ROLE=120
COMPANION_LIMIT_SPEAK=160
COMPANION_LIMIT_MODEL_CONTENT=500
COMPANION_LIMIT_MODEL_TYPED=800
COMPANION_LIMIT_EPISODE_TEXT=280
COMPANION_LIMIT_EPISODE_SELECTION=200
COMPANION_LIMIT_EPISODE_SELECTION_LONG=500
COMPANION_LIMIT_WINDOW_APP=80
COMPANION_LIMIT_WINDOW_TITLE=160
COMPANION_LIMIT_WINDOWS_MAX=12
COMPANION_LIMIT_OPEN_FILES=16
COMPANION_LIMIT_RECENT_FILES=12
COMPANION_LIMIT_URL=500
COMPANION_LIMIT_PATH=260
COMPANION_LIMIT_PROJECT=80
COMPANION_LIMIT_FILE_HINT=120
COMPANION_LIMIT_NOTES=800
COMPANION_LIMIT_PAGE_TITLE=160
COMPANION_LIMIT_FILE_NAME=160
COMPANION_LIMIT_CONTENT_MIN_LEN=8
COMPANION_LIMIT_RECENT_SCAN_PER_DIR=100
COMPANION_LIMIT_RECENT_FILES_HOURS=24
COMPANION_LIMIT_CODE_CRUMB_MAX=24
COMPANION_LIMIT_FINGERPRINT_TYPED=120
COMPANION_LIMIT_KNOWS_CAP=48
COMPANION_LIMIT_PROMPT_KNOWS=16
COMPANION_LIMIT_PROMPT_EPISODES=8
COMPANION_LIMIT_PROMPT_GAPS=4

COMPANION_CAPTURE_ALL=1
COMPANION_HOT_RELOAD=0
